.navbar{
    width: 100%;
    height: 50px;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    background: rgb(227, 227, 227);
    z-index: 999;
}
.nav_1, .nav_3{
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navImage{
    margin: 3px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: contain;
    margin-right: 15px;
    border: .5px solid rgb(142, 142, 142) ;
}
.navIcon{
    font-size: 25px;
    margin-right: 15px;
    cursor: pointer;
}
.nav_2{
    flex: 6;
}

.topList{
    display: flex;
    justify-content: center;
    list-style: none;
}
.topListItem{
    margin-right: 30px;
}
.nav_2 ul li i{
    margin-right: 5px;
}
.fa-instagram-square{
    color: rgb(255, 0, 89);
}
.fa-facebook-square{
    color: rgb(0, 94, 255);
}
.fa-twitter-square{
    color:rgb(0, 136, 255);
}